flask
python-dotenv
langchain
langchain-community
langchain-core
fastembed==0.3.6
langchain-groq
langgraph
faiss-cpu
youtube-transcript-api
huggingface-hub
flask-cors
PyMuPDF
python-docx
pypdf
python-pptx
unstructured
celery[redis]
redis

gunicorn
supervisor
